@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 60%;
  padding-top: 6rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  box-sizing: border-box;
}

.header p {
  font-size: 2rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.todo-form {
  width: 90%;
}

.add-todo-btn {
  margin: 1rem 0;
}

ul {
  padding: 0;
}

@media (max-width: 700px) {
  body {
    width: 100%;
  }

  .header p {
    font-size: 1.5rem;
  }
}
